@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}





body h1{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: wavy;

}
body , h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    background: blanchedalmond;
    margin: 10px;

}

body hr{
    color: blue;


}
body{

    background: url(bg.jpg) no-repeat top center;
    background-size: cover;
}

.container {
    position: absolute;
    width: 100%;
    padding: 20px;
    top: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateY( -50%) translateX(-50%);
    max-height: unset;
    left: 50%;
    border-radius: 30px;

    background: rgba(138, 151, 156, 0.349);

}

.container2 {
    background-color: rgb(191, 223, 252);
    padding: 10px;
    display: flex;
}


.fields {
    margin: 10px;
    margin-bottom: 20px;
    background: rgba(61, 51, 71, 0.212);
    border: 0px;
    border-bottom: 2px solid yellowgreen;
    border-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hotpink;
    border-radius: 2px;
}

.fields2 {
    margin: 10px;
    width: 200px;
    background: rgba(61, 51, 71, 0.212);
    border: 0px;
    border-bottom: 2px solid yellowgreen;
    border-color: aqua;
    color: rgb(247, 9, 21);
    border-radius: 2px;

}

.msg {
    color: rgb(70, 95, 235);
    width: 100%;
    background-color: rgb(250, 250, 250);
    height: 500px;
    margin: 10px;
    text-shadow: aqua;
    border: 50px;
    padding: 10px;
    border-color: rgb(200, 236, 66);
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    border-radius: 5px;



}

.btn {
    background: none;
    border-radius: 10px;
    border-color: aquamarine;
    background-color: aqua;
    width: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    float: right;
    margin: 20px;


}



.tbtn {
    font-weight: bolder;
    background: rgba(223, 240, 163, 0.5);
    border-bottom-color: greenyellow;
    border: 0ch;
    border-radius: 5px;
    

}


.linkbox {
    background-color: rgba(255, 255, 255, 0.973);
    background-size: 100% ;
    font-size: larger;
    font-family: 'Lucida Sans';
    color: red;
    text-align: center;
    margin: 10px;
    padding: 5px;



}

.link , img{
    padding: 5px;


}
.link {
    background-color: aqua;
    border-bottom: 4px gold;
    border-radius: 4px;
}

.center {
    text-align: center;
    place-items: center;
    align-items: center;
    left: 50%;
    transform: translateX( -50%);
}